<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
  <!--/*@thymesVar id="primary" type="boolean"*/-->
  <!--/*@thymesVar id="hideOnMobile" type="boolean"*/-->
  <th
    th:fragment="header(title)"
    th:with="primary=(${primary} ?: false),hideOnMobile=(${hideOnMobile} ?: false)"
    class="text-left text-sm font-semibold text-gray-900"
    th:classappend="|${primary ? 'py-3.5 pl-4 pr-3 sm:pl-6' : 'px-3 py-3.5'} ${hideOnMobile ? 'hidden sm:table-cell' : ''}|"
    th:text="${title}">
    Header title
  </th>
  <th
    th:fragment="header-with-hidden-title(title)"
    th:with="hideOnMobile=(${hideOnMobile} ?: false)"
    class="relative py-3.5 pl-3 pr-4 sm:pr-6"
    th:classappend="${hideOnMobile ? 'hidden sm:table-cell' : ''}">
    <span class="sr-only" th:text="${title}">Edit</span>
  </th>
  <td
    th:fragment="data(contents)"
    th:with="primary=(${primary} ?: false),hideOnMobile=(${hideOnMobile} ?: false)"
    class="whitespace-nowrap py-4 pl-4 pr-3 text-sm"
    th:classappend="|${primary ? 'font-medium text-gray-900 sm:pl-6' : ''} ${hideOnMobile ? 'hidden sm:table-cell' : ''}|"
    th:text="${contents}">
    Table data contents
  </td>
  <td
    th:fragment="data-with-link(linkText, linkUrl)"
    th:with="hideOnMobile=(${hideOnMobile} ?: false)"
    class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
    th:classappend="${hideOnMobile ? 'hidden sm:table-cell' : ''}">
    <a th:href="${linkUrl}" th:text="${linkText}" class="text-indigo-600 hover:text-indigo-900"
      >Edit</a
    >
  </td>
</html>
